.house {
  width: 60%;
  height: 400px;

  margin: 50px auto;

  border: 3px solid rgb(182, 203, 224);
  border-radius: 10px;

  text-align: center;
}

.roller {
  width: 200px;
  height: 200px;

  margin: 50px auto;

  text-align: center;

  transition: transform 0.3s;
}

.container {
  max-width: 800px;
  margin: 100px auto;
}
