.house {
  width: 60%;
  height: 400px;

  margin: 50px auto;

  border: 3px solid dodgerblue;
  border-radius: 5%;

  text-align: center;
}

.roller {
  width: 200px;
  height: 200px;

  margin: 50px auto;

  text-align: center;

  /* border: 1px solid darkgray; */
}

.pupu {
  position: absolute;

  width: 20px;
  height: 10px;

  background-color: black;
  border-radius: 40%;
}
